---
---

@import "{{ site.theme }}";

a[href="https://ai-365.github.io/"]{
  font-size: 1rem;
  color: black;
}

.markdown-body{
  width: 80vw;
  position: relative;
  top: -30px;
}

@media (max-width:700px)  {
  .markdown-body{
    width:96vw;
  }
}
